body {
    font-family: sans;
    font-size: 12pt;
}

.geartable .name.item {
    color: blue;
    padding-right: 3em;
}
.geartable .name {
    text-align: left;
}
.geartable .stat {
    padding-left: 1ex;
    text-align: right;
}
.geartable .odd {
    background-color: #f5f5f5;
}
