body {
    font-family: sans;
    font-size: 12pt;
}

#geartable .name.slot {
    padding-top: 1ex;
}
#geartable .name.item {
    padding-right: 3em;
    color: blue;
    cursor: pointer;
}
#geartable .name {
    text-align: left;
}
#geartable .stat,.own {
    padding-left: 1ex;
    text-align: right;
}
#geartable .odd {
    background-color: #f5f5f5;
}

#compute {
    position: fixed;
    top: 1ex;
    right: 1ex;
    border: 1px solid black;
}
#compute .weights td {
    text-align: right;
}
#compute .weights input.stat {
    width: 6em;
    text-align: right;
}
